.order-information {
    padding: 20px 0px 100px 0px;
}
.back-to-cart {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 500;
    height: 50px;
    background: #1eb19d;
    width: 180px;
    border-radius: 50px;
    padding: 12px 0px 0px 60px;
    margin: 0px 30px 0px 0px;
}
.back-to-cart > p {

}
.back-to-cart:hover {
    color: white;
}
.pole-to-register {
    width: 100%;
    height: 100px;
    background: rgba(223, 223, 223, 0.5);
    border-radius: 5px;
    margin: 30px 0px 20px 0px;
    display: flex;
    justify-content: center;
    padding: 25px 270px;
    flex-wrap: wrap;
}
.pole-to-register {
    font-size: 14px;
    color: rgb(100, 100, 100);
}
.pole-text {
    font-size: 14px;
    color: rgb(100, 100, 100);
    margin: 0;
    margin: 0px 20px;
}
.pole-href {
    font-size: 14px;
    margin: 0px 5px;
    color: #1fc7b1;
    height: max-content;
}
.pole-href:hover{
    color: #1fc7b1;
}
.order-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
}
.contact-data {
    display: flex;
    width: 54%;
    flex-wrap: wrap;
    border: 1px solid rgba(197, 197, 197, 0.801);
    border-radius: 10px;
    padding: 30px;
    height: 300px;
}
.subject {
    width: 100%;
    padding: 0px 0px 0px 7px;
    font-size: 18px;
    font-weight: 500;
    height: max-content;
}
.users-data {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}
.users-data > input {
    width: 95%;
    height: 35px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: rgba(223, 223, 223, 0.5);
    color: rgb(51, 51, 51);
    font-weight: 500;
    padding: 0px 0px 0px 15px;
    margin-bottom: 10px;
}
.users-data > label {
    width: 95%;
    height: max-content;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.479);
}
.users-adress {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start
}
.users-adress > input {
    width: 95%;
    height: 35px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: rgba(223, 223, 223, 0.5);
    color: rgb(51, 51, 51);
    font-weight: 500;
    padding: 0px 0px 0px 15px;
    margin-bottom: 10px;
}
.users-adress > textarea {
    width: 95%;
    height: 31%;
    border-radius: 5px;
    border: none;
    outline: none;
    background: rgba(223, 223, 223, 0.5);
    color: rgb(51, 51, 51);
    font-weight: 500;
    padding: 5px 0px 0px 15px;
    resize: none;
}
.users-adress > label {
    width: 95%;
    height: max-content;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.479);
}
.delivery {
    width: 44%;
    flex-wrap: wrap;
    align-items: flex-start;
    border: 1px solid rgba(197, 197, 197, 0.801);
    border-radius: 10px;
    padding: 30px;
    height: 300px;
}
.delivery > input {
    width: 10%;
    
}
.delivery > label {
    width: 80%;
}
.radio {
    display: none;
}
.radio-label {
    display: flex;
    position: relative;
    align-items: center;
    height: 25px;
    width: 100%;
}
.fake {
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 1px solid rgba(168, 168, 168, 0.705);
    position: relative;
    border-radius: 50px;
}
.fake::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -55%);
    width: 10px;
    height: 10px;
    background: #1fc7b1;
    opacity: 0;
    position: relative;
    border-radius: 50px;
}
.radio:checked + .fake::before {
    opacity: 1;
}
.radio-text {
    position: absolute;
    top: 1px;
    left: 20px;
   font-size: 14px;
   font-weight: 500;
   margin-bottom: 5x;
   color: rgba(0, 0, 0, 0.774);
}
.delidery-desc {
    outline: none;
    border: none;
    background: rgba(223, 223, 223, 0.5);
    margin: 20px 0px 0px 0px;
    border-radius:5px;
    resize: none;
    width: 90%;
    height: 55%;
    color: rgb(51, 51, 51);
    font-weight: 500;
    padding: 5px 0px 0px 15px;
}
.delidery-desc::placeholder {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
}
.comment-to-order {
    display: flex;
    width: 54%;
    flex-wrap: wrap;
    border: 1px solid rgba(197, 197, 197, 0.801);
    border-radius: 10px;
    padding: 30px;
    height: 250px;
    margin: 25px 0px 0px 0px;
}
.subject-desc {
    width: 100%;
    color: rgba(0, 0, 0, 0.479);
    font-size: 14px;
    margin: 0;
}
.comment-to-order > textarea {
    width: 100%;
    height: 125px;
    background: rgba(223, 223, 223, 0.5);
    resize: none;
    border: none;
    border-radius: 5px;
    outline: none;
    color: rgb(51, 51, 51);
    font-weight: 500;
    padding: 5px 0px 0px 15px;
}
.method-to-pay {
    width: 44%;
    flex-wrap: wrap;
    align-items: flex-start;
    border: 1px solid rgba(197, 197, 197, 0.801);
    border-radius: 10px;
    padding: 30px;
    height: 250px;
    margin: 25px 0px 0px 0px;
}
.order-ready {
    margin: 30px 0px 0px 0px;
    width: 60%;
    height: 55px;
    border: 2px solid #1fc7b1;
    background: white;
    color: rgba(0, 0, 0, 0.8);
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    border-radius: 50px;
}
.success-body{
    padding-top: 100px;
    height: 300px;
}
.thx {
    color: rgb(65, 65, 65);
    text-align: center;
    font-size: 28px;
    font-weight: 500;
}
.thx-send {
    color: rgb(65, 65, 65);
    text-align: center;
    font-size: 28px;
    font-weight: 500;
}
.order-ready:hover {
    background: #1fc7b1;
    color: white;
}